# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# network interfaces
net:
  port: 27017
  bindIp: 0.0.0.0
  ssl:
     mode: requireSSL
     # optained with the command 'sudo cat privkey.pem fullchain.pem > mongodb.pem'
     # a client can the connect with 'mongo --ssl --sslAllowInvalidCertificates scopes-development.api.gouv.fr:27017/scopes -u signup -p signup'
     PEMKeyFile: /etc/letsencrypt/live/scopes-development.api.gouv.fr/mongodb.pem
     CAFile: /etc/letsencrypt/live/scopes-development.api.gouv.fr/fullchain.pem
     disabledProtocols: TLS1_0,TLS1_1
     allowConnectionsWithoutCertificates: true


# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

#security:
security:
  authorization: "enabled"

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
